body
 
{
    background-image: url("background_065.jpg");
    background-repeat: no-repeat;
}
h1 
{    
    margin: auto;
    background-color: lightgrey;   
    border-radius: 15px;
    padding: 15px; 
    width: 200px;
    height: 20px;     
    color: black;
    
}
h2 
{
    color: black;
    text-align: center;
    font-size: 22pt;
}
h3 
{

    color: #0000ff;
    text-align: left;
    font-size: 18pt;
}
li
{
    font-weight: 900;
    font-family: segoe print;
    font-size: 14pt;

}      
a
{
    font-family: segoe print;
    font-size: 14pt;
}     
img
{
    float: right;
    
}
button
{
    margin-left: 80px;
    height: 70px;
    width: 150px;
    background-color: mediumturquoise;
    font-weight: 700;
    font-family: Arial;
    font-size: 14pt;
    border-radius: 10px;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    
}
button:hover 
{
    background-color: white; 
    border: 2px solid #008CBA;
    color: black;
}